{% extends 'pb_analyzer/layout.html' %}
{% load filter %}
{% block content %}
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#team">チーム全体</a></li>
      {% for result in results %}
        <li>
          <a data-toggle="tab" href="#{{ result.summoner.account_id }}">
            {{ result.summoner.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      <div id="team" class="tab-pane fade in active">
        <h2>チーム分析</h2>
        <form action="." method="POST">{% csrf_token %}
          <input type="hidden" name="action" value="update">
          <input type="hidden" name="account_ids" value="{{ ids }}">
          <button type="submit" {{ result.update_disabled }}
                  class="btn btn-primary">全体を更新する(時間がかかります)</button>
        </form>
        <div>
          <h3>レーン別勝率</h3>
          {% include 'pb_analyzer/_lane_table.html' with lane_data=team_result.lane %}
        </div>
        <div>
          <h3>チャンピオン勝率</h3>
          {% include 'pb_analyzer/_champions_table.html' with champions_data=team_result.champions %}
        </div>
      </div>
      {% for result in results %}
        <div id="{{ result.summoner.account_id }}" class="tab-pane fade">
          <h2>{{ result.summoner.name }}</h2>
          {% if result.summoner.tier is not None %}
          <div>
            ランク: {{ result.summoner.tier }} {{ result.summoner.rank }}
          </div>
          {% endif %}
          <form action="." method="POST">{% csrf_token %}
            <input type="hidden" name="action" value="update">
            <input type="hidden" name="account_ids" value="{{ result.summoner.account_id }}">
            <button type="submit" {{ result.update_disabled }}
                    class="btn btn-primary">更新する</button>
            {% if result.update_disabled %}
              <span>更新は１時間に一回実行できます。</span>
            {% endif %}
          </form>
          <div>
            <h3>レーン別勝率</h3>
            {% include 'pb_analyzer/_lane_table.html' with lane_data=result.result.lane %}
          </div>
          <div>
            <h3>チャンピオン勝率</h3>
            {% include 'pb_analyzer/_champions_table.html' with champions_data=result.result.champions %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
