{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113003162-1"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-113003162-1');
  </script>

  <meta charset="utf-8"/>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
  <title>Target Bang!</title>
</head>
<body>
  <div class="container">
    <span>
      現在のキュー: {{ queue_count }}
    </span>
    <h1><a href="/" style="color:#000;text-decoration:none">Target Bang!</a></h1>
  </div>
  {% block content %}{% endblock %}
  <div class="container">
    質問、バグ、要望は <a href="https://github.com/ororog/lol-pb-analyzer/issues">github</a> もしくは
    <a href="https://twitter.com/ororog">@ororog</a> にお寄せください。
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
  <script>
   $(function(){
     $.extend($.fn.dataTable.defaults, {
       language: {
         url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
       }
     });
     $(".champions-table").DataTable({
       'order': [[3, 'desc']]
     });
   });
  </script>
</body>
</html>
